.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.50rem;
  display: inline-block;
  opacity: 1;
  color: #ffffff;
}

.text-type__cursor--hidden {
  display: none;
}